<h1>
    Simple Advice generator Api-Front
</h1>

<div id="root" class="App">
    <div class="centercard">
        <div class="mainCard">
            <span class='title'>
                {{advice.id>0?advice.id:""}} </span>
            <p class='pAdvice'>
                {{advice.advice}}
            </p>
            <img id='divider' src="assets/images/pattern-divider-mobile.svg" alt="" />
            <div class="buttonContainer" (click)="getAdvice()">
                <div class="circle">
                    <img id='closeimg' src="assets/images/icon-dice.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="#">Your Name Here</a>.
    </div>

</footer>